# 🧠 Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# 🧰 Virtual environment
venv/
env/
ENV/
*.env
pyvenv.cfg

# 🗄️ Database
db.sqlite3

# 🧑‍💻 Django specific
/staticfiles/
/media/
/*.log
*.pot
*.pyc

# ⚙️ VSCode and system files
.vscode/
.idea/
*.DS_Store
Thumbs.db


